/* */

body  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(36, 32, 32);
    color: aliceblue;
}

*::before {
    box-sizing: border-box;
}

.container {
    background-color:  rgb(68, 63, 63);
    margin-right: 5%;
    margin-left: 5%; 
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px; 
    position: relative;
}

button {
    background: -webkit-linear-gradient(right ,#d61a5e, #ff8c05);
    color: aliceblue;
    margin-top: 20px;
    padding: 13px 20px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    
}

.section-tiltle {
    text-align: center;
 }
 .section-tiltle h3 {
     color: #ff8c05;
     font-weight: 700;
     margin-block-start: 0px;
     font-size: 30px;
 }
/*header begin*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #262626;
    margin-top: 0;
    box-shadow: 0px 5px 10px 3px rgba(65, 62, 62, 0.2);
}

.header-contain {
    display: flex;
    top: 0;
    right: 0;;
    background-color: rgb(68, 63, 63);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    display: flex;
    flex-grow: 1;
    
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.nav-list li a {
    display: block;
    background-color: transparent;
    margin: 10px 20px;
    color: white;
}


.nav-item {
    display: block;

}

.web-icon {
    margin-left: 20px; 
}

.web-icon h2{
    font-weight: 900;
    font-size: 36px;
    background: -webkit-linear-gradient(right ,#d61a5e, #ff8c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*header end*/
/*fix begin*/
.fix {
    width: 100%;
    height: 130px;
}
/*fix end*/
/*info begin*/

.info {
    display: flex;
    padding: 40px 40px;
}

.info-caption {
    position: relative;
    width: 70%;
    height: auto;
}

.info .info-caption span {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    color: aliceblue;
}

.info .info-caption h2 {

    font-weight: 900;
    font-size: 70px;
    background: -webkit-linear-gradient(right ,#d61a5e, #ff8c05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 36.1px;
    margin-bottom: 36.1px;
}

.info-image {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    right: 15%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.img {
    background: url(./intro-image.jpg);
    background-size: cover;
    width: 250px;
    height: 250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*info end*/
/*about begin*/

.about {
    display: flex;
    color: aliceblue;
}

.about-info {
    padding: 40px 40px;
}

.about-info h3 {
    color: rgb(252, 101, 0);
    font-weight: 300;
    font-size: 30px;

}

.about-info .content h2 {
    font-size: 50px;
    font-weight: 900;
}

.about-picture {
    background: url(./about.jpg);
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: 100% 100%;
}

/*about end*/
/*resume begin*/

.box-content {
    padding: 40px 40px ;
}

.resume-box {
    display: flex;
}

.resume {
    width: 50%;
}

.resume-list {
    width: 50%;
}

.resume-content h3 {
    color: #ff8c05;
    font-size: 22px;
    font-weight: 300;
}

.resume-content h2  {
    font-size: 50px;
    font-weight: 900;
}

.resume-content span {
    color: #ff8c05;
}

.resume-list .time-line {
    list-style-type: none;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.resume-list .time-line::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 100%;
    z-index: 400;
    background: #fff;
}

.resume-list .time-line > li::before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -7px;
    width: 16px;
    height: 16px;
    z-index: 400;
}

.dot {
    text-align: center;
    margin-top: 50px;
    display: block;
}

.dot .dot-button {
    background: #979292;
    border-radius: 90px;
}
/*resume end*/
/*portfolio begin*/

.menu {
    display: flex;
    list-style-type: none;
    height: 22px;
    margin: 0;
    padding: 0;
    margin-left: 30%;
    margin-right: 30%;
}

.menu .menu-item {
    margin: 0px 15px;
    display: block;
    font-size: 20px;
}

.menu .menu-item a{
    color: aliceblue;
}

.menu .menu-item:hover a {
    color: #ff8c05;
}

.menu .active a {
    color: #ff8c05;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.portfolio-item {
    display: flex;
    background-image: url(./portfolio.jpg);
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 15px 15px;
}

.portfolio-item .overlay {
    background-color: rgba(82, 78, 78, 0.6);
    color: aliceblue;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.portfolio-item .overlay span {
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 25px;
    
}

.portfolio-item .overlay h4 {
    margin: 5px 25px;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

/*portfolio end*/
/*blog*/

.blog-background {
    height: 100%;
    background-color:  rgb(36, 32, 32);
    padding: 0px 0px;
}

.blog-box {
    display: flex;
}

.blog {
    padding: 0px 15px;

}

.left {
    padding-left: 0px;
}

.right {
    padding-right: 0px;
}

.blog .blog-img {
    overflow: hidden;

}

.blog .blog-img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius : 3px;
    transition: all 0.5s;
}

.blog-tiltle {
    background-color: #262626;
    padding: 23px 10px;
}

.blog-tiltle h3 a {
    color: aliceblue;
}

.blog-date a {
    color: #ff8c05;
    font-weight: 600;
}

.blog-tiltle a:hover {
    color: #ff8c05;
}

.blog:hover .blog-img img {
    transform: scale(1.04);
}

.blog-date .fas {
    margin: 0px 5px;
    font-weight: 900;
    font-size: 7px;
    color: #868181;
}

/**/

.container .contact-box {
    display: flex;
    width: auto;
    height: auto;
    padding: 15px 15px;
}

.contact-box .content-left {
    width: 50%;
}

.contact-box .content-right {
    width: 50%;
}

.tiltle-left h3 {
    color: #ff8c05;
    font-weight: 700;
    margin-block-start: 0px;
    font-size: 30px;
    text-align: left;
}

.contact-tiltle h3 {
    font-size: 50px;
    font-weight: 900;
}

.icon-list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.icon-list li {
    margin-right: 50px;
}

.content-right .row {
    display: flex;
    width: 100%;
}

.text-input {
    width: 40%;
    display: block;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: aliceblue;
    padding: 0px 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #5c5959;
    border-radius: 0;
}

